# VSCode settings folder
.vscode/

# JetBrains IDEs (IntelliJ IDEA, WebStorm, PyCharm, etc)
.idea/

# Eclipse IDE
.project
.metadata/
bin/
tmp/

# NetBeans
.nb-gradle/

# Other common IDE folders
*.iml
*.ipr
*.iws
